<div class="product-container">
  @for (product of productList; track product) {
    <div class="product-item">
      <h2>{{ product.nombre }}</h2>
      <p><strong>Descripción:</strong> {{ product.descripcion }}</p>
      <p><strong>Precio:</strong> {{ product.precio }}</p>
      <p><strong>Stock:</strong> {{ product.cantidadEnStock }}</p>
      <p><strong>Categoría:</strong> {{ product.categoria?.nombre }}</p>

      @if (areActionsAvailable) {
        <button (click)="callUpdateModalMethod.emit(product)" class="btn btn-success">Editar</button>
        <button (click)="callDeleteMethod.emit(product)" class="btn btn-danger">Eliminar</button>
      }
    </div>
  } @empty {
    <p>No hay productos disponibles.</p>
  }
</div>
